Repository Haibhailie/GitlabAnalyzer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend build, backend test, frontend lint, frontend format, backend format

.gitlab-ci.yml:

stages:
  - build
  - test
  - format
  # - deploy

variables:
  STAGING_BRANCH: "master"
  NODE_IMAGE: "node:14"
  MAVEN_IMAGE: "maven:3.6.3-openjdk-15"
  MAVEN_OPTS: "-Dhttps.protocols=TLSv1.2 -Dmaven.color=false -Dmaven.repo.local=.m2/repository -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=WARN -Dorg.slf4j.simpleLogger.showDateTime=true -Djava.awt.headless=true"
  MAVEN_CLI_OPTS: "--batch-mode --errors --fail-at-end --show-version -DinstallAtEnd=true -DdeployAtEnd=true"


frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - src/client/**/*
      when: always
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH'
      when: always
  before_script:
    - cd src/client
    - npm ci
  script:
    - CI=true npm run build

backend build:
  stage: test
  needs: []
  image: $MAVEN_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/server/**/*
      when: always
  script:
    - cd src/server 
    - mvn $MAVEN_CLI_OPTS compile

backend test:
  stage: test
  needs: []
  image: $MAVEN_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/server/**/*
      when: always
  before_script:
    - cd src/server 
  script:
    - mvn $MAVEN_CLI_OPTS test

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/client/**/*
      when: always
  before_script:
    - cd src/client
    - node -v
    - npm ci
  script:
    - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/client/**/*
      when: always
  before_script:
    - npm install prettier@^2.2.0 --global
  script:
    - prettier --check "src/client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $MAVEN_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/server/**/*
      when: always
  before_script:
    - cd src/server
  script:
    - mvn $MAVEN_CLI_OPTS checkstyle:check

Minor changes from review
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestScoreCalculator.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/DiffScoreCalculator.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/DiffScoreDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/DiffStringParser.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/CommitMock.java
Due: backend build, backend test, backend format

Minor refactor in DiffScoreCalculator.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/diff/DiffScoreCalculator.java
Due: backend build, backend test, backend format

Removed redundant variables and a few spaces here and there
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestScoreCalculator.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/DiffScoreCalculator.java
Due: backend build, backend test, backend format

Rename getConfigJsonsByJwt() to getAllConfigJsonsByJwt()
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigService.java
Due: backend build, backend test, backend format

Base64 encode an env variable
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigRepository.java
Due: backend build, backend test, backend format

Fix indentation
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigController.java
Due: backend build, backend test, backend format

Respond with a HTTP code 500 when addConfig() fails due to IOException
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigController.java
Due: backend build, backend test, backend format

Undo CommitDto changes merged from other branch
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitDto.java
Due: backend build, backend test, backend format

Delete CommitScore.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitScore.java
Due: backend build, backend test, backend format

added Modal and used it in UserConfig
  src/client/src/App.tsx
  src/client/src/assets/close.svg
  src/client/src/assets/edit.svg
  src/client/src/assets/save-large.svg
  src/client/src/components/Modal.tsx
  src/client/src/components/SideNavSubItem.tsx
  src/client/src/components/UserConfig.tsx
  src/client/src/components/UserConfigPopup.tsx
  src/client/src/css/Modal.module.css
  src/client/src/css/SideNavSubItem.module.css
  src/client/src/css/UserConfigPopup.module.css
Due: frontend build, frontend lint, frontend format

Compute merge request score using data
  src/client/src/components/MemberSummary.tsx
  src/client/src/utils/constants.ts
Due: frontend build, frontend lint, frontend format

Remove failing checks instead of fixing the code
  src/server/checkstyle.xml
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigDto.java
Due: backend build, backend test, backend format

Remove unnecessary @Component
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigDto.java
Due: backend build, backend test, backend format

Optimize imports
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigDto.java
Due: backend build, backend test, backend format

commit before merging master
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitScoreCalculator.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/DiffScoreCalculator.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/DiffScoreDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/DiffStringParser.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/CommitMock.java
Due: backend build, backend test, backend format

Fix failing test
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitScoreTests.java
Due: backend build, backend test, backend format

Merge master into branch
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitScoreTests.java
Due: backend build, backend test, backend format

Rename method for consistency
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/authentication/AuthenticationRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/authentication/AuthenticationService.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/authentication/AuthenticationServiceTest.java
Due: backend build, backend test, backend format

finished save context interaction.
  src/client/src/App.tsx
  src/client/src/components/UserConfig.tsx
  src/client/src/components/UserConfigPopup.tsx
  src/client/src/context/UserConfigContext/reducer.ts
  src/client/src/context/UserConfigContext/types.ts
  src/client/src/css/UserConfig.module.css
Due: frontend build, frontend lint, frontend format

Small refactors
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitDto.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitScoreTests.java
Due: backend build, backend test, backend format

Small refactors
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitScoreTests.java
Due: backend build, backend test, backend format

add height to score container
  src/client/src/css/UserConfigPopup.module.css
Due: frontend build, frontend lint, frontend format

Display actual commit scores
  src/client/src/utils/constants.ts
Due: frontend build, frontend lint, frontend format

add sidnav scrolling
  src/client/src/components/SideNav.tsx
  src/client/src/css/SideNav.module.css
Due: frontend build, frontend lint, frontend format

fix graph showing up over modal.
  src/client/src/components/PageWrapper.tsx
  src/client/src/css/PageWrapper.module.css
Due: frontend build, frontend lint, frontend format

update check, fix suspense message on mergerequests and upate background on ignore btns
  src/client/src/assets/check.svg
  src/client/src/components/MergeRequests.tsx
  src/client/src/css/MergeRequests.module.css
Due: frontend build, frontend lint, frontend format

Import types from types file
  src/client/src/components/MemberSummary.tsx
  src/client/src/pages/Member.tsx
  src/client/src/types.d.ts
Due: frontend build, frontend lint, frontend format

update range on activity graph
  src/client/src/components/ActivityGraph.tsx
Due: frontend build, frontend lint, frontend format

minor fixes and add add score/number control to ActivityGraph
  src/client/src/components/ActivityGraph.tsx
  src/client/src/components/MemberSummary.tsx
  src/client/src/components/ProjectSummary.tsx
Due: frontend build, frontend lint, frontend format

Add backend dependencies
  README.md
Due: none

Send configId as valid JSON on POST request
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigController.java
Due: backend build, backend test, backend format

bugfix: incorrect endpoints in userconfig context. missing feat: flush configs w/ BE
  src/client/src/components/UserConfig.tsx
  src/client/src/context/UserConfigContext/reducer.ts
  src/client/src/context/UserConfigContext/types.ts
  src/client/src/utils/jsonFetcher.tsx
Due: frontend build, frontend lint, frontend format

Fix getAllConfigs return JSON type
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigService.java
Due: backend build, backend test, backend format

Add setters
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigDto.java
Due: backend build, backend test, backend format

bug fixes in comunication to BE within userconfig context.
  src/client/src/components/SavedConfigs.tsx
  src/client/src/context/UserConfigContext/reducer.ts
Due: frontend build, frontend lint, frontend format

Fix pipeline
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigDto.java
Due: backend build, backend test, backend format

final FE -> BE comm fix
  src/client/src/components/ActivityGraph.tsx
  src/client/src/context/UserConfigContext/reducer.ts
Due: frontend build, frontend lint, frontend format

remove console logs and add FE deps to README
  README.md
  src/client/src/components/ActivityGraph.tsx
  src/client/src/context/UserConfigContext/reducer.ts
Due: frontend build, frontend lint, frontend format

clipboard copy fallback
  src/client/src/components/StatSummary.tsx
Due: frontend build, frontend lint, frontend format

Add configs.yml file
  api-spec/configs.yml
Due: none
