Repository Haibhailie/GitlabAnalyzer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend build, backend test, frontend lint, frontend format, backend format

.gitlab-ci.yml:

stages:
  - build
  - test
  - format
  # - deploy

variables:
  STAGING_BRANCH: "master"
  NODE_IMAGE: "node:14"
  MAVEN_IMAGE: "maven:3.6.3-openjdk-15"
  MAVEN_OPTS: "-Dhttps.protocols=TLSv1.2 -Dmaven.color=false -Dmaven.repo.local=.m2/repository -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=WARN -Dorg.slf4j.simpleLogger.showDateTime=true -Djava.awt.headless=true"
  MAVEN_CLI_OPTS: "--batch-mode --errors --fail-at-end --show-version -DinstallAtEnd=true -DdeployAtEnd=true"


frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - src/client/**/*
      when: always
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH'
      when: always
  before_script:
    - cd src/client
    - npm ci
  script:
    - CI=true npm run build

backend build:
  stage: test
  needs: []
  image: $MAVEN_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/server/**/*
      when: always
  script:
    - cd src/server 
    - mvn $MAVEN_CLI_OPTS compile

backend test:
  stage: test
  needs: []
  image: $MAVEN_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/server/**/*
      when: always
  before_script:
    - cd src/server 
  script:
    - mvn $MAVEN_CLI_OPTS test

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/client/**/*
      when: always
  before_script:
    - cd src/client
    - node -v
    - npm ci
  script:
    - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/client/**/*
      when: always
  before_script:
    - npm install prettier@^2.2.0 --global
  script:
    - prettier --check "src/client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $MAVEN_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/server/**/*
      when: always
  before_script:
    - cd src/server
  script:
    - mvn $MAVEN_CLI_OPTS checkstyle:check

remove unused import
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitService.java
Due: backend build, backend test, backend format

change email to name on MemberController
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberController.java
Due: backend build, backend test, backend format

start to create logout endpoint
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/authentication/AuthenticationController.java
Due: backend build, backend test, backend format

Rename ProjectTests to ProjectServiceTests
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectServiceTests.java
Due: backend build, backend test, backend format

Update test setup
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/authentication/JwtServiceTest.java
Due: backend build, backend test, backend format

Add all tests (big bang commit)
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/authentication/JwtServiceTest.java
Due: backend build, backend test, backend format

Replace @BeforeEach with @BeforeAll and change test instance lifecycle
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/authentication/JwtServiceTest.java
Due: backend build, backend test, backend format

Minor comment update
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/authentication/JwtServiceTest.java
Due: backend build, backend test, backend format

Add mockito-inline dependency
  src/server/pom.xml
Due: backend build, backend test, backend format

Set cookie age as 0 using setMaxAge() method to delete an existing cookie.
  src/server/checkstyle.xml
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/authentication/AuthenticationController.java
Due: backend build, backend test, backend format

add api-spec files
  api-spec/components/signout200.yml
  api-spec/signout.yml
Due: none

Add user config and drop down to side nav
  src/client/src/components/SideNav.tsx
Due: frontend build, frontend lint, frontend format

Add user config popup
  src/client/src/components/UserConfigPopup.tsx
Due: frontend build, frontend lint, frontend format

Add user config pop up styling
  src/client/src/css/UserConfigPopup.module.css
Due: frontend build, frontend lint, frontend format

add side nav sub drop down
  src/client/src/components/SideNavSubDropDown.tsx
Due: frontend build, frontend lint, frontend format

add side nav sub drop down styling
  src/client/src/css/SideNavSubDropDown.module.css
Due: frontend build, frontend lint, frontend format

change user config context general scoring to array of scores
  src/client/src/context/UserConfigContext.tsx
Due: frontend build, frontend lint, frontend format

Move score states to parent component
  src/client/src/components/UserConfigPopup.tsx
Due: frontend build, frontend lint, frontend format

Add pop up and remove redundant states
  src/client/src/components/UserConfig.tsx
Due: frontend build, frontend lint, frontend format

Remove ProjectStat files and handle promise for navigator.clipboard
  src/client/src/components/ProjectStat.tsx
  src/client/src/components/ProjectSummary.tsx
  src/client/src/components/StatSummary.tsx
  src/client/src/css/ProjectStat.module.css
  src/client/src/css/StatSummary.module.css
  src/client/src/utils/constants.ts
Due: frontend build, frontend lint, frontend format

Created base config package skeleton
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigService.java
Due: backend build, backend test, backend format

Rename variables
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitScore.java
Due: backend build, backend test, backend format

Added basic variables in ConfigDto
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigDto.java
Due: backend build, backend test, backend format

Add save user config component
  src/client/src/components/SaveUserConfig.tsx
Due: frontend build, frontend lint, frontend format

Add save user config styling
  src/client/src/css/SaveUserConfig.module.css
Due: frontend build, frontend lint, frontend format

add save component to user config
  src/client/src/components/UserConfig.tsx
Due: frontend build, frontend lint, frontend format

add user config context SET_USER_CONFIG action
  src/client/src/context/UserConfigContext.tsx
Due: frontend build, frontend lint, frontend format

Clean up code
  src/client/src/components/SaveUserConfig.tsx
  src/client/src/components/UserConfig.tsx
  src/client/src/components/UserConfigPopup.tsx
  src/client/src/context/UserConfigContext.tsx
Due: frontend build, frontend lint, frontend format

Add @material-ui @emotion/react @emotion/styled
  src/client/package-lock.json
  src/client/package.json
Due: frontend build, frontend lint, frontend format

Add timeout to revert clipboard error msg
  src/client/src/components/StatSummary.tsx
Due: frontend build, frontend lint, frontend format

Add test class for CommitScore. Small changes to CommitScore.java and CommitMock.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitScore.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitScoreTests.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/CommitMock.java
Due: backend build, backend test, backend format

Added a new diffParser, refactored MergeRequestService to return displacement diff instead of distance diff and refactors MergeRequestTest to work with new diffs.
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestDiffDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/DiffParser.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/MergeRequestMock.java
Due: backend build, backend test, backend format

Added edge cases for parseDiff and changed CommitService and CommitController to return the string parsed diff (TO DO: Commit tests)
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/DiffParser.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitServiceTests.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/CommitMock.java
Due: backend build, backend test, backend format

Refactored CommitServiceTests, CommitMock and CommitDto to work with new DiffParser
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitDto.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitServiceTests.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/CommitMock.java
Due: backend build, backend test, backend format

Removed unused imports (so Bryan doesn't get mad at me)
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestService.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitServiceTests.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mocks/GitLabApiMock.java
Due: backend build, backend test, backend format

I forgot to checkStyle
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/DiffParser.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitServiceTests.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/CommitMock.java
Due: backend build, backend test, backend format

Change empty divs to fragments
  src/client/src/components/SaveUserConfig.tsx
  src/client/src/components/SideNavDropDown.tsx
  src/client/src/components/UserConfig.tsx
Due: frontend build, frontend lint, frontend format

Change SideNavSubDropDown initial prop to startOpened
  src/client/src/components/SaveUserConfig.tsx
  src/client/src/components/SideNavSubDropDown.tsx
  src/client/src/components/UserConfig.tsx
Due: frontend build, frontend lint, frontend format

Change open to isOpen and unrender whole div when closed
  src/client/src/components/SideNavSubDropDown.tsx
Due: frontend build, frontend lint, frontend format

Change sidenavsubdropdown children type to unknown
  src/client/src/components/SideNavSubDropDown.tsx
Due: frontend build, frontend lint, frontend format
