Repository Haibhailie/GitlabAnalyzer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend build, backend test, frontend lint, frontend format, backend format

.gitlab-ci.yml:

stages:
  - build
  - test
  - format
  # - deploy

variables:
  STAGING_BRANCH: "master"
  NODE_IMAGE: "node:14"
  MAVEN_IMAGE: "maven:3.6.3-openjdk-15"
  MAVEN_OPTS: "-Dhttps.protocols=TLSv1.2 -Dmaven.color=false -Dmaven.repo.local=.m2/repository -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=WARN -Dorg.slf4j.simpleLogger.showDateTime=true -Djava.awt.headless=true"
  MAVEN_CLI_OPTS: "--batch-mode --errors --fail-at-end --show-version -DinstallAtEnd=true -DdeployAtEnd=true"


frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - src/client/**/*
      when: always
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH'
      when: always
  before_script:
    - cd src/client
    - npm ci
  script:
    - CI=true npm run build

backend build:
  stage: test
  needs: []
  image: $MAVEN_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/server/**/*
      when: always
  script:
    - cd src/server 
    - mvn $MAVEN_CLI_OPTS compile

backend test:
  stage: test
  needs: []
  image: $MAVEN_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/server/**/*
      when: always
  before_script:
    - cd src/server 
  script:
    - mvn $MAVEN_CLI_OPTS test

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/client/**/*
      when: always
  before_script:
    - cd src/client
    - node -v
    - npm ci
  script:
    - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/client/**/*
      when: always
  before_script:
    - npm install prettier@^2.2.0 --global
  script:
    - prettier --check "src/client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $MAVEN_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/server/**/*
      when: always
  before_script:
    - cd src/server
  script:
    - mvn $MAVEN_CLI_OPTS checkstyle:check

Removed comments
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitScoreCalculator.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestScoreCalculator.java
Due: backend build, backend test, backend format

get all orphaned Mrs
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitService.java
Due: backend build, backend test, backend format

get all orphaned Mrs by memberName
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberService.java
Due: backend build, backend test, backend format

add getOrphanedMergeRequestsByMemberName on MemberService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberService.java
Due: backend build, backend test, backend format

Add constructor for SpringBoot to deserialize ConfigIdDto
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigIdDto.java
Due: backend build, backend test, backend format

Increment numSubscribers of config when imported by a user
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigRepository.java
Due: backend build, backend test, backend format

Changed overloaded function to retrieveFile and made it more streamlined by taking boolean as an argument.
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileService.java
Due: backend build, backend test, backend format

CHECKSTYLE AGAIN.
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileService.java
Due: backend build, backend test, backend format

add getOrphanedMergeRequestsByMemberName endpoint
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberController.java
Due: backend build, backend test, backend format

Removed unnecessary functions and refactored code by reducing runtime complexity + minor bug fixes (with Karan's help, thanks bro!)
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/DiffScoreCalculator.java
Due: backend build, backend test, backend format

Add enums to store BSON document keys for Configs and UserConfigs collections' documents
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigRepository.java
Due: backend build, backend test, backend format

Add enums to store BSON document keys for Users collections' documents
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/authentication/AuthenticationRepository.java
Due: backend build, backend test, backend format

Added new variables instead of inlining the function fileScoreCalculator in DiffScoreCalculator.java to enhance readability
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/DiffScoreCalculator.java
Due: backend build, backend test, backend format

Add getCurrentConfig to use for scoring
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigService.java
Due: backend build, backend test, backend format

Add default to dropdown
  src/client/src/components/MemberDropdown.tsx
  src/client/src/pages/MemberResolution.tsx
Due: frontend build, frontend lint, frontend format

Update api-specs for PUT currentConfig endpoint
  api-spec/config.yml
  api-spec/configCurrent.yml
  api-spec/openapi.yml
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigController.java
Due: backend build, backend test, backend format

Create CommentTable component
  src/client/src/components/CommentTable.tsx
  src/client/src/css/CommentTable.module.css
  src/client/src/css/Member.module.css
  src/client/src/pages/Member.tsx
  src/client/src/types.d.ts
  src/client/src/utils/constants.ts
Due: frontend build, frontend lint, frontend format

Add external link icon
  src/client/src/assets/link.svg
  src/client/src/components/CommentTable.tsx
  src/client/src/components/ExternalLink.tsx
  src/client/src/css/ExternalLink.module.css
Due: frontend build, frontend lint, frontend format

Small spacing changes
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestScoreCalculator.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/DiffScoreCalculator.java
Due: backend build, backend test, backend format

Begin implementation of Project repository
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/committer/CommitterService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/project/MockProjectRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/project/RealProjectRepository.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectServiceTests.java
Due: backend build, backend test, backend format

Create method for caching initial skeleton of a project
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/committer/CommitterService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectService.java
Due: backend build, backend test, backend format

add get all commits from orphan merge requests for commits score
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestService.java
Due: backend build, backend test, backend format

Get multipliers from configuration
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestScoreCalculator.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestService.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/member/MemberServiceTests.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/MergeRequestMock.java
Due: backend build, backend test, backend format

Create comment accordion component for long comments
  src/client/src/components/CommentAccordion.tsx
  src/client/src/components/CommentTable.tsx
  src/client/src/css/CommentAccordion.module.css
  src/client/src/css/CommentTable.module.css
Due: frontend build, frontend lint, frontend format

Animate accordion
  src/client/src/components/CommentAccordion.tsx
  src/client/src/components/CommentTable.tsx
  src/client/src/css/CommentAccordion.module.css
  src/client/src/css/CommentTable.module.css
Due: frontend build, frontend lint, frontend format

Change document queries to only retrieve relevant fields
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectRepository.java
Due: backend build, backend test, backend format

Cache project skeletons
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectService.java
Due: backend build, backend test, backend format

Initial commit, set up Preanalysis - Controller, Service, Repository classes
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/preanalysis/PreanalysisController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/preanalysis/PreanalysisRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/preanalysis/PreanalysisService.java
Due: backend build, backend test, backend format

Add webUrl to project mock
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/ProjectMock.java
Due: backend build, backend test, backend format

Add PUT endpoint skeleton and rename preanalysis to analysis
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/preanalysis/AnalysisController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/preanalysis/AnalysisRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/preanalysis/AnalysisService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/preanalysis/PreanalysisController.java
Due: backend build, backend test, backend format

add by to NoteDto
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/note/NoteDto.java
Due: backend build, backend test, backend format

add by to NoteService
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/note/NoteService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Pair.java
Due: backend build, backend test, backend format

update memberNotes api-doc
  api-spec/memberNotes.yml
  api-spec/memberOrphanedMergerequests.yml
Due: none

quick fix
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/note/NoteService.java
Due: backend build, backend test, backend format

Delete memberOrphanedMergerequests.yml
  api-spec/memberOrphanedMergerequests.yml
Due: none

Change analysis boolean to the time it was last analyzed
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectService.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectServiceTests.java
Due: backend build, backend test, backend format

Expect map from committer email to member id
  api-spec/components/committerMap.yml
Due: none

use spring boot pair
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/note/NoteService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Pair.java
Due: backend build, backend test, backend format

work on bug about creating a jwtService
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestScoreCalculator.java
Due: backend build, backend test, backend format

Display comments in selected date range
  src/client/src/components/CommentTable.tsx
Due: frontend build, frontend lint, frontend format
