Repository Haibhailie/GitlabAnalyzer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend build, backend test, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd src/client
  - npm ci
  script:
  - CI=true npm run build

backend build:
  stage: test
  needs: []
  image: $MAVEN_IMAGE
  tags:
  - docker
  script:
  - cd src/server
  - mvn $MAVEN_CLI_OPTS compile

backend test:
  stage: test
  needs: []
  image: $MAVEN_IMAGE
  tags:
  - docker
  before_script:
  - cd src/server
  script:
  - mvn $MAVEN_CLI_OPTS test

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd src/client
  - node -v
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm install prettier@^2.2.0 --global
  script:
  - prettier --check "src/client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $MAVEN_IMAGE
  tags:
  - docker
  before_script:
  - cd src/server
  script:
  - mvn $MAVEN_CLI_OPTS checkstyle:check

Update constants.tsx
  src/client/src/utils/constants.tsx
Due: frontend build, frontend lint, frontend format

Initial commit. Add commitServiceTests.java
  src/client/src/utils/constants.tsx
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitServiceTests.java
Due: frontend build, backend build, backend test, frontend lint, frontend format, backend format

created smart-time util and used it in Home
  src/client/src/pages/Home.tsx
  src/client/src/utils/dateConverter.ts
Due: frontend build, frontend lint, frontend format

Change class declaration to final
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/VariableDecoderUtil.java
Due: backend build, backend test, backend format

start commit testing
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitServiceTests.java
Due: backend build, backend test, backend format

Begin tests on authentication package
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/authentication/AuthenticationUserTest.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/authentication/JwtServiceTest.java
Due: backend build, backend test, backend format

test getSingleCommit, it passes.
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitDto.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitServiceTests.java
Due: backend build, backend test, backend format

Begin testing on AuthenticationService
  src/server/pom.xml
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/authentication/AuthenticationServiceTest.java
Due: backend build, backend test, backend format

add front-end dependencies
  README.md
Due: none

Reformat front-end dependencies
  README.md
Due: none

Fix format again
  README.md
Due: none

Move jwt verification into JwtService
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/authentication/AuthenticationService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/authentication/JwtService.java
Due: backend build, backend test, backend format

Extract methods to do with GitLabApi out of AuthenticationService
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/authentication/AuthenticationService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/authentication/GitLabApiWrapper.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectService.java
Due: backend build, backend test, backend format

Added test for getAllMRWithMemberID (although it doesn't really work)
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestService.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
Due: backend build, backend test, backend format

Add tests for all methods inside CommitService.java. All tests pass. 67% line coverage
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitServiceTests.java
Due: backend build, backend test, backend format

Add OAuth2Login call to wrapper class and refactor AuthenticationService
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/authentication/AuthenticationController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/authentication/AuthenticationService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/authentication/GitLabApiWrapper.java
Due: backend build, backend test, backend format

add basic Mockito testing
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/member/MemberServiceTests.java
Due: backend build, backend test, backend format

Added override to equals in DTO and test working again.
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestDto.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
Due: backend build, backend test, backend format

Testing for get MR with MemberID done
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
Due: backend build, backend test, backend format

Added getAllCommitsFromMR test
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
Due: backend build, backend test, backend format

Getting all commits from specific MR test working
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
Due: backend build, backend test, backend format

Created test for MRDiff, working as intended.
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestDiffDto.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
Due: backend build, backend test, backend format

Add GitLabApi mock and model mocks
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mocks/GitLabApiMock.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mocks/models/ProjectMock.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mocks/models/ProjectStatisticsMock.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectTests.java
Due: backend build, backend test, backend format

add all test
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberDto.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/member/MemberServiceTests.java
Due: backend build, backend test, backend format

rename Error -> ErrorComp. Added missing period in NETWORK_ERROR constant
  src/client/src/components/ErrorComp.tsx
  src/client/src/pages/Home.tsx
  src/client/src/pages/Project.tsx
  src/client/src/utils/constants.ts
  src/client/src/utils/suspenseDefaults.tsx
  src/client/src/utils/useSuspense.tsx
Due: frontend build, frontend lint, frontend format

fix unnecessary part
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/member/MemberServiceTests.java
Due: backend build, backend test, backend format

Exported a mock class where generation of mock gitlab classes happens, instead of cluttering the test class.
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestMock.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
Due: backend build, backend test, backend format

Made minor changes to getAllMembers and changed access in memberDTO to make sure null pointers aren't encountered ( eg. when member has access to repo but isn't part of it)
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberUtils.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/member/MemberServiceTests.java
Due: backend build, backend test, backend format

Create StatSummary component skeleton
  src/client/src/components/ProjectSummary.tsx
  src/client/src/components/StatSummary.tsx
  src/client/src/css/StatSummary.module.css
  src/client/src/utils/constants.ts
Due: frontend build, frontend lint, frontend format

Miscellaneous renaming and add a comment to GitLabWrapper
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/authentication/AuthenticationController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/authentication/AuthenticationRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/authentication/AuthenticationService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/authentication/GitLabApiWrapper.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/authentication/JwtService.java
Due: backend build, backend test, backend format

Added tests for exceptions and null pointers in service class. 100% code coverage and multiple tests for each different entity that returns null/exception covered.
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestService.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mocks/models/MergeRequestMock.java
Due: backend build, backend test, backend format

Removed useless code
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
Due: backend build, backend test, backend format

Install material-ui and add tooltip
  src/client/package-lock.json
  src/client/package.json
  src/client/src/assets/info.svg
  src/client/src/components/ProjectSummary.tsx
  src/client/src/components/Stat.tsx
  src/client/src/components/StatSummary.tsx
  src/client/src/css/Stat.module.css
Due: frontend build, frontend lint, frontend format

Fit stats to container height
  src/client/src/components/ProjectSummary.tsx
  src/client/src/css/Stat.module.css
Due: frontend build, frontend lint, frontend format

Add Member, User, ProjectStatistics model mocks
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mocks/models/ProjectStatisticsMock.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/MemberMock.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/ProjectMock.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/ProjectStatisticsMock.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/UserMock.java
Due: backend build, backend test, backend format

Override ProjectDto's equals method
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectDto.java
Due: backend build, backend test, backend format

Make getXApi() method stubs lenient
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mocks/GitLabApiMock.java
Due: backend build, backend test, backend format

Refactor project tests
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectTests.java
Due: backend build, backend test, backend format

Add final keyword to User and Member model classes
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/MemberMock.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/UserMock.java
Due: backend build, backend test, backend format

Replace AuthenticationService with GitLabApiWrapper
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectTests.java
Due: backend build, backend test, backend format

Path conditions:
  frontend build: any of: src/client/**/*
  backend build: any of: src/server/**/*
  backend test: any of: src/server/**/*
  frontend lint: any of: src/client/**/*
  frontend format: any of: src/client/**/*
  backend format: any of: src/server/**/*
