Repository Haibhailie/GitlabAnalyzer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend build, backend test, frontend lint, frontend format, backend format

.gitlab-ci.yml:

stages:
  - build
  - test
  - format
  # - deploy

variables:
  STAGING_BRANCH: "master"
  NODE_IMAGE: "node:14"
  MAVEN_IMAGE: "maven:3.6.3-openjdk-15"
  MAVEN_OPTS: "-Dhttps.protocols=TLSv1.2 -Dmaven.color=false -Dmaven.repo.local=.m2/repository -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=WARN -Dorg.slf4j.simpleLogger.showDateTime=true -Djava.awt.headless=true"
  MAVEN_CLI_OPTS: "--batch-mode --errors --fail-at-end --show-version -DinstallAtEnd=true -DdeployAtEnd=true"


frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - src/client/**/*
      when: always
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH'
      when: always
  before_script:
    - cd src/client
    - npm ci
  script:
    - CI=true npm run build

backend build:
  stage: test
  needs: []
  image: $MAVEN_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/server/**/*
      when: always
  script:
    - cd src/server 
    - mvn $MAVEN_CLI_OPTS compile

backend test:
  stage: test
  needs: []
  image: $MAVEN_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/server/**/*
      when: always
  before_script:
    - cd src/server 
  script:
    - mvn $MAVEN_CLI_OPTS test

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/client/**/*
      when: always
  before_script:
    - cd src/client
    - node -v
    - npm ci
  script:
    - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/client/**/*
      when: always
  before_script:
    - npm install prettier@^2.2.0 --global
  script:
    - prettier --check "src/client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $MAVEN_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/server/**/*
      when: always
  before_script:
    - cd src/server
  script:
    - mvn $MAVEN_CLI_OPTS checkstyle:check

Remove whitespace characters
  src/client/src/components/UserConfigPopup.tsx
Due: frontend build, frontend lint, frontend format

Change pop up to call togglePopup directly
  src/client/src/components/UserConfigPopup.tsx
Due: frontend build, frontend lint, frontend format

Change map keys to non index
  src/client/src/components/SaveUserConfig.tsx
  src/client/src/components/UserConfigPopup.tsx
Due: frontend build, frontend lint, frontend format

Change pop up general scoring header
  src/client/src/components/UserConfigPopup.tsx
Due: frontend build, frontend lint, frontend format

Remove p tags
  src/client/src/components/SideNavSubDropDown.tsx
  src/client/src/components/UserConfigPopup.tsx
  src/client/src/css/SideNavSubDropDown.module.css
Due: frontend build, frontend lint, frontend format

Add user config pop up input box styling
  src/client/src/css/UserConfigPopup.module.css
Due: frontend build, frontend lint, frontend format

fix type open to isOpen
  src/client/src/components/SideNavSubDropDown.tsx
Due: frontend build, frontend lint, frontend format

Rename tamperJwt method to corruptJwt
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/authentication/JwtServiceTest.java
Due: backend build, backend test, backend format

Fix GitLabApiWrapper tests to not depend on our server
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/authentication/GitLabApiWrapperTest.java
Due: backend build, backend test, backend format

Add tests to GitLabApiWrapper to try signing into gitlab
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/authentication/GitLabApiWrapperTest.java
Due: backend build, backend test, backend format

Write GitLabApiWrapper tests for getting an OAuth2 token
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/authentication/GitLabApiWrapper.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/authentication/GitLabApiWrapperTest.java
Due: backend build, backend test, backend format

Basic changes and divided checkNull in MergeRequestServiceTest to 4 different tests instead of 1.
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/DiffParser.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitServiceTests.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
Due: backend build, backend test, backend format

Forgot to add a space :D
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
Due: backend build, backend test, backend format

camelCaseFix
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
Due: backend build, backend test, backend format

Member page
  src/client/src/components/MemberSummary.tsx
  src/client/src/components/MemberTable.tsx
  src/client/src/css/Member.module.css
  src/client/src/css/MemberSummary.module.css
  src/client/src/index.tsx
  src/client/src/pages/Member.tsx
Due: frontend build, frontend lint, frontend format

Calculating basic additions, deletions and blank lines using home made diff delta parser
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestScore.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/DiffStringParser.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/CommitMock.java
Due: backend build, backend test, backend format

Check Syntax change working (making sure it doesn't also add syntax changes + additions)
  src/server/pom.xml
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestScore.java
Due: backend build, backend test, backend format

Fix naming of functions to follow convention
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/authentication/GitLabApiWrapperTest.java
Due: backend build, backend test, backend format

Add missing icons
  src/client/src/assets/delete.svg
  src/client/src/assets/dropdown-large.svg
  src/client/src/assets/dropdown-small.svg
  src/client/src/assets/edit.svg
  src/client/src/assets/save-large.svg
  src/client/src/assets/save-small.svg
  src/client/src/components/SaveUserConfig.tsx
  src/client/src/components/SideNavDropDown.tsx
  src/client/src/components/SideNavSubDropDown.tsx
  src/client/src/components/UserConfig.tsx
  src/client/src/components/UserConfigPopup.tsx
  src/client/src/css/SaveUserConfig.module.css
  src/client/src/css/SideNavDropDown.module.css
  src/client/src/css/SideNavSubDropDown.module.css
  src/client/src/css/UserConfig.module.css
  src/client/src/css/UserConfigPopup.module.css
Due: frontend build, frontend lint, frontend format

Get commit data and pass to member summary component
  src/client/src/components/MemberSummary.tsx
  src/client/src/components/Stat.tsx
  src/client/src/pages/Member.tsx
Due: frontend build, frontend lint, frontend format

Change all clickables to buttons
  src/client/src/assets/close.svg
  src/client/src/components/SaveUserConfig.tsx
  src/client/src/components/SideNavSubDropDown.tsx
  src/client/src/components/UserConfig.tsx
  src/client/src/components/UserConfigPopup.tsx
  src/client/src/css/SaveUserConfig.module.css
  src/client/src/css/SideNavSubDropDown.module.css
  src/client/src/css/UserConfig.module.css
  src/client/src/css/UserConfigPopup.module.css
Due: frontend build, frontend lint, frontend format

Get member stats from commits and merge requests
  src/client/src/components/MemberSummary.tsx
  src/client/src/pages/Member.tsx
Due: frontend build, frontend lint, frontend format

Add color variables
  src/client/src/css/SaveUserConfig.module.css
  src/client/src/css/SideNavDropDown.module.css
  src/client/src/css/SideNavSubDropDown.module.css
  src/client/src/css/UserConfig.module.css
  src/client/src/css/UserConfigPopup.module.css
Due: frontend build, frontend lint, frontend format

Add font variables and fix input styling
  src/client/src/css/SaveUserConfig.module.css
  src/client/src/css/SideNavSubDropDown.module.css
  src/client/src/css/UserConfig.module.css
  src/client/src/css/UserConfigPopup.module.css
Due: frontend build, frontend lint, frontend format

Add config name duplicate check
  src/client/src/components/SaveUserConfig.tsx
  src/client/src/context/UserConfigContext.tsx
  src/client/src/css/SaveUserConfig.module.css
Due: frontend build, frontend lint, frontend format

Add duplicate file type check
  src/client/src/components/SaveUserConfig.tsx
  src/client/src/components/UserConfigPopup.tsx
  src/client/src/css/UserConfigPopup.module.css
Due: frontend build, frontend lint, frontend format

Change array declaration to be consistent
  src/client/src/components/SaveUserConfig.tsx
  src/client/src/context/UserConfigContext.tsx
Due: frontend build, frontend lint, frontend format

Display member summary and stats
  src/client/src/components/MemberSummary.tsx
  src/client/src/components/MemberTable.tsx
  src/client/src/css/Member.module.css
  src/client/src/css/MemberSummary.module.css
  src/client/src/index.tsx
  src/client/src/pages/Member.tsx
  src/client/src/utils/constants.ts
Due: frontend build, frontend lint, frontend format

Change user config pop up to only persist when save button pressed
  src/client/src/components/UserConfigPopup.tsx
Due: frontend build, frontend lint, frontend format

Rename user config action type SET_NAME to SET_CONFIG_NAME
  src/client/src/components/SaveUserConfig.tsx
  src/client/src/context/UserConfigContext.tsx
Due: frontend build, frontend lint, frontend format

Add score to CommitDto
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitDto.java
Due: backend build, backend test, backend format

Add score to CommitDto
  src/server/pom.xml
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitScore.java
Due: backend build, backend test, backend format

Refactor saved config to a nav item dropdown and small css change
  src/client/src/assets/save-small.svg
  src/client/src/assets/tool.svg
  src/client/src/components/SaveUserConfig.tsx
  src/client/src/components/SideNav.tsx
  src/client/src/components/UserConfig.tsx
  src/client/src/css/SaveUserConfig.module.css
  src/client/src/css/UserConfig.module.css
  src/client/src/css/UserConfigPopup.module.css
Due: frontend build, frontend lint, frontend format

Small clean up
  src/client/src/components/SaveUserConfig.tsx
  src/client/src/components/SideNav.tsx
  src/client/src/components/SideNavSubDropDown.tsx
Due: frontend build, frontend lint, frontend format

Commit scoring works
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitScore.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestScore.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/DiffStringParser.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitScoreTests.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/CommitMock.java
Due: backend build, backend test, backend format

Remove ul and li from save user config
  src/client/src/components/SaveUserConfig.tsx
Due: frontend build, frontend lint, frontend format

Added blank space check for MergeRequestScore, fixed addition bug where score was getting added even when considered a syntax change
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestScore.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/DiffStringParser.java
Due: backend build, backend test, backend format

finished displaying mrs and commits
  src/client/package-lock.json
  src/client/package.json
  src/client/src/assets/check.svg
  src/client/src/assets/greater-than.svg
  src/client/src/components/ActivityGraph.tsx
  src/client/src/components/Diff.tsx
  src/client/src/components/MemberTable.tsx
  src/client/src/components/MergeRequests.tsx
  src/client/src/components/Table.tsx
  src/client/src/css/Diff.module.css
  src/client/src/css/Home.module.css
  src/client/src/css/MemberTable.module.css
  src/client/src/css/MergeRequests.module.css
  src/client/src/css/Project.module.css
  src/client/src/css/Table.module.css
  src/client/src/css/index.css
  src/client/src/pages/Home.tsx
  src/client/src/types.d.ts
  src/client/src/utils/useSuspense.tsx
Due: frontend build, frontend lint, frontend format

Gitignore was acting crazy, ignore this commit.
  .gitignore
Due: none

update imports in mergerequests
  src/client/src/components/MergeRequests.tsx
Due: frontend build, frontend lint, frontend format
