Repository Haibhailie/GitlabAnalyzer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend build, backend test, frontend lint, frontend format, backend format

.gitlab-ci.yml:

stages:
  - build
  - test
  - format
  # - deploy

variables:
  STAGING_BRANCH: "master"
  NODE_IMAGE: "node:14"
  MAVEN_IMAGE: "maven:3.6.3-openjdk-15"
  MAVEN_OPTS: "-Dhttps.protocols=TLSv1.2 -Dmaven.color=false -Dmaven.repo.local=.m2/repository -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=WARN -Dorg.slf4j.simpleLogger.showDateTime=true -Djava.awt.headless=true"
  MAVEN_CLI_OPTS: "--batch-mode --errors --fail-at-end --show-version -DinstallAtEnd=true -DdeployAtEnd=true"


frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - src/client/**/*
      when: always
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH'
      when: always
  before_script:
    - cd src/client
    - npm ci
  script:
    - CI=true npm run build

backend build:
  stage: test
  needs: []
  image: $MAVEN_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/server/**/*
      when: always
  script:
    - cd src/server 
    - mvn $MAVEN_CLI_OPTS compile

backend test:
  stage: test
  needs: []
  image: $MAVEN_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/server/**/*
      when: always
  before_script:
    - cd src/server 
  script:
    - mvn $MAVEN_CLI_OPTS test

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/client/**/*
      when: always
  before_script:
    - cd src/client
    - node -v
    - npm ci
  script:
    - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/client/**/*
      when: always
  before_script:
    - npm install prettier@^2.2.0 --global
  script:
    - prettier --check "src/client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $MAVEN_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/server/**/*
      when: always
  before_script:
    - cd src/server
  script:
    - mvn $MAVEN_CLI_OPTS checkstyle:check

Add warning for invalid urls
  src/client/src/assets/warning.svg
  src/client/src/components/CommentTable.tsx
  src/client/src/themes/tooltipTheme.ts
Due: frontend build, frontend lint, frontend format

Remove unused variables/imports
  src/client/src/components/CommentTable.tsx
  src/client/src/components/ExternalLink.tsx
  src/client/src/utils/constants.ts
Due: frontend build, frontend lint, frontend format

Abstract partial document access into a method
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectRepository.java
Due: backend build, backend test, backend format

Rename method for clarity
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectRepository.java
Due: backend build, backend test, backend format

change by to parentAuthor
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/note/NoteDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/note/NoteService.java
Due: backend build, backend test, backend format

update memberNotes.yml
  api-spec/memberNotes.yml
Due: none

Rename preanalysis package to analysis
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/analysis/AnalysisController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/analysis/AnalysisRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/analysis/AnalysisService.java
Due: backend build, backend test, backend format

Rename method
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectDto.java
Due: backend build, backend test, backend format

Implement method to cache a member dto
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MockMemberRepository.java
Due: backend build, backend test, backend format

Add LICENSE file
  LICENSE
Due: none

fix parentName
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/note/NoteService.java
Due: backend build, backend test, backend format

Display parent author
  src/client/src/components/CommentTable.tsx
  src/client/src/types.d.ts
Due: frontend build, frontend lint, frontend format

Add methods to store members into the database
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/committer/CommitterService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberService.java
Due: backend build, backend test, backend format

get orphan commits for a MR by member name
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestService.java
Due: backend build, backend test, backend format

add memberOrphanMergerequests.yml , memberOrphanCommits.yml, mergerequestId.yml
  api-spec/components/mergerequestId.yml
  api-spec/memberOrphanCommits.yml
  api-spec/memberOrphanMergerequests.yml
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberService.java
Due: backend build, backend test, backend format

rename methods
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestService.java
Due: backend build, backend test, backend format

remove unused variable
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitService.java
Due: backend build, backend test, backend format

rename functions
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberService.java
Due: backend build, backend test, backend format

fix testing
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitDto.java
Due: backend build, backend test, backend format

Check if member is already cached to prevent duplicates
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberService.java
Due: backend build, backend test, backend format

Make member caching its own method and alter equality check
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberService.java
Due: backend build, backend test, backend format

filter duplicated Mrs
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitService.java
Due: backend build, backend test, backend format

Remove commented code
  src/client/src/components/ActivityGraph.tsx
Due: frontend build, frontend lint, frontend format

Remove unnecessary console.log
  src/client/src/components/ActivityGraph.tsx
Due: frontend build, frontend lint, frontend format

Replace nested ternary operator with if/else for readability
  src/client/src/components/CommentTable.tsx
Due: frontend build, frontend lint, frontend format

Move IProjectData to types and change project context to use IProjectData
  src/client/src/components/ProjectSummary.tsx
  src/client/src/context/ProjectContext.tsx
  src/client/src/pages/Home.tsx
  src/client/src/pages/Project.tsx
  src/client/src/types.d.ts
Due: frontend build, frontend lint, frontend format

Add member drop down to member page
  src/client/src/assets/go.svg
  src/client/src/components/MemberDropdown.tsx
  src/client/src/css/Member.module.css
  src/client/src/css/MemberDropdown.module.css
  src/client/src/pages/Member.tsx
Due: frontend build, frontend lint, frontend format

Remove unsused imports
  src/client/src/pages/Home.tsx
  src/client/src/pages/Member.tsx
Due: frontend build, frontend lint, frontend format

dropdown bug
  src/client/src/components/Dropdown.tsx
  src/client/src/components/MergeRequests.tsx
  src/client/src/components/Selector.tsx
  src/client/src/components/SideNavItem.tsx
  src/client/src/components/SideNavSubItem.tsx
  src/client/src/components/Table.tsx
  src/client/src/css/Dropdown.module.css
  src/client/src/css/MergeRequests.module.css
  src/client/src/css/Table.module.css
  src/client/src/pages/Home.tsx
  src/client/src/utils/constants.ts
  src/client/src/utils/useSuspense.tsx
Due: frontend build, frontend lint, frontend format

typo
  src/client/src/components/StatSummary.tsx
Due: frontend build, frontend lint, frontend format

other typo
  src/client/src/utils/useSuspense.tsx
Due: frontend build, frontend lint, frontend format

forgot console.log
  src/client/src/components/SideNavSubItem.tsx
Due: frontend build, frontend lint, frontend format

Remove unecessary button tag
  src/client/src/components/MemberDropdown.tsx
  src/client/src/css/MemberDropdown.module.css
Due: frontend build, frontend lint, frontend format

export TProjectData type
  src/client/src/types.d.ts
Due: frontend build, frontend lint, frontend format

Rearrange imports
  src/client/src/components/MemberDropdown.tsx
  src/client/src/pages/Project.tsx
Due: frontend build, frontend lint, frontend format

Fix workflow. delete MergeRequestScoreCalculator.java and move functionality to service class
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestScoreCalculator.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestService.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/MergeRequestMock.java
Due: backend build, backend test, backend format

comment out failing tests
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
Due: backend build, backend test, backend format

Change analyze states to object form
  src/client/src/components/AnalyzeButton.tsx
  src/client/src/pages/Home.tsx
Due: frontend build, frontend lint, frontend format

Remove console log
  src/client/src/pages/Home.tsx
Due: frontend build, frontend lint, frontend format

Convert MemberService into an interface
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberServiceCached.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberServiceDirect.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectService.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectServiceTests.java
Due: backend build, backend test, backend format
