Repository Haibhailie/GitlabAnalyzer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend build, backend test, frontend lint, frontend format, backend format

.gitlab-ci.yml:

stages:
  - build
  - test
  - format
  # - deploy

variables:
  STAGING_BRANCH: "master"
  NODE_IMAGE: "node:14"
  MAVEN_IMAGE: "maven:3.6.3-openjdk-15"
  MAVEN_OPTS: "-Dhttps.protocols=TLSv1.2 -Dmaven.color=false -Dmaven.repo.local=.m2/repository -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=WARN -Dorg.slf4j.simpleLogger.showDateTime=true -Djava.awt.headless=true"
  MAVEN_CLI_OPTS: "--batch-mode --errors --fail-at-end --show-version -DinstallAtEnd=true -DdeployAtEnd=true"


frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - src/client/**/*
      when: always
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH'
      when: always
  before_script:
    - cd src/client
    - npm ci
  script:
    - CI=true npm run build

backend build:
  stage: test
  needs: []
  image: $MAVEN_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/server/**/*
      when: always
  script:
    - cd src/server 
    - mvn $MAVEN_CLI_OPTS compile

backend test:
  stage: test
  needs: []
  image: $MAVEN_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/server/**/*
      when: always
  before_script:
    - cd src/server 
  script:
    - mvn $MAVEN_CLI_OPTS test

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/client/**/*
      when: always
  before_script:
    - cd src/client
    - node -v
    - npm ci
  script:
    - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/client/**/*
      when: always
  before_script:
    - npm install prettier@^2.2.0 --global
  script:
    - prettier --check "src/client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $MAVEN_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/server/**/*
      when: always
  before_script:
    - cd src/server
  script:
    - mvn $MAVEN_CLI_OPTS checkstyle:check

update formatting on index.css
  src/client/src/css/index.css
Due: frontend build, frontend lint, frontend format

Added check for blank space in commits
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitScore.java
Due: backend build, backend test, backend format

bugfix in table, and change size of mr table when showing commits.
  src/client/src/components/MergeRequests.tsx
  src/client/src/components/Table.tsx
Due: frontend build, frontend lint, frontend format

Made scoreCalculator a unified class that can be used by both MR and Commits, and created a ScoreDto for easy score retrieval and passing between classes.
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestScore.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/DiffScoreCalculator.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/DiffScoreDto.java
Due: backend build, backend test, backend format

Removed CommitScore to reduce potential overlap during MR review
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitScore.java
Due: backend build, backend test, backend format

Unify commit scoring with mergeRequest scoring
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitScore.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestScore.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/DiffScoreCalculator.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitScoreTests.java
Due: backend build, backend test, backend format

Optimize imports and syntax
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigDto.java
Due: backend build, backend test, backend format

Initialize Config controller, service, and repository classes
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigService.java
Due: backend build, backend test, backend format

add @types/mui, refactor userconfig context
  src/client/package-lock.json
  src/client/package.json
  src/client/src/App.tsx
  src/client/src/components/SaveUserConfig.tsx
  src/client/src/components/UserConfig.tsx
  src/client/src/context/UserConfigContext.tsx
  src/client/src/context/UserConfigContext/index.tsx
  src/client/src/context/UserConfigContext/reducer.ts
  src/client/src/context/UserConfigContext/types.ts
Due: frontend build, frontend lint, frontend format

logout with cookie
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/authentication/AuthenticationController.java
Due: backend build, backend test, backend format

Add leading forward slash to endpoints in ProjectController
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectController.java
Due: backend build, backend test, backend format

Set up ConfigDto and sub DTOs
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/FileTypeScoreDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/GeneralTypeScoreDto.java
Due: backend build, backend test, backend format

Use reducer and combine MemberSummary container
  src/client/src/components/MemberSummary.tsx
  src/client/src/components/Stat.tsx
  src/client/src/css/MemberSummary.module.css
  src/client/src/pages/Member.tsx
Due: frontend build, frontend lint, frontend format

Set up ConfigController
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigController.java
Due: backend build, backend test, backend format

Set up ConfigRepository to store and fetch configs to and from the database
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigRepository.java
Due: backend build, backend test, backend format

create useAsyncReducer, update UserConfigContext to be asyncReducer
  src/client/src/components/SavedConfigs.tsx
  src/client/src/components/UserConfig.tsx
  src/client/src/context/UserConfigContext/index.tsx
  src/client/src/context/UserConfigContext/reducer.ts
  src/client/src/context/UserConfigContext/types.ts
  src/client/src/utils/useAsyncReducer.ts
Due: frontend build, frontend lint, frontend format

delete signout200.yml
  api-spec/components/signout200.yml
  api-spec/signout.yml
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/authentication/AuthenticationController.java
Due: backend build, backend test, backend format

fix style format
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/authentication/AuthenticationController.java
Due: backend build, backend test, backend format

added more context options
  .gitignore
  src/client/src/components/UserConfig.tsx
  src/client/src/context/UserConfigContext/reducer.ts
  src/client/src/context/UserConfigContext/types.ts
Due: frontend build, frontend lint, frontend format

SavedConfigs refactored to use context over state.
  src/client/src/components/SavedConfigs.tsx
  src/client/src/components/SideNavDropDown.tsx
  src/client/src/components/UserConfig.tsx
  src/client/src/context/UserConfigContext/index.tsx
Due: frontend build, frontend lint, frontend format

Remove unneeded files and implement service functions
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/FileTypeScoreDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/GeneralTypeScoreDto.java
Due: backend build, backend test, backend format

Remove contains() method from ConfigRepository
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigRepository.java
Due: backend build, backend test, backend format

Rename variable
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigService.java
Due: backend build, backend test, backend format

Implement DELETE endpoint for Configs
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigService.java
Due: backend build, backend test, backend format

Rename yAxis to verticalAxis to avoid checkstyle warnings
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigDto.java
Due: backend build, backend test, backend format

Add a sneaky TODO
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigRepository.java
Due: backend build, backend test, backend format

Remove unneeded setters and constructors
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigDto.java
Due: backend build, backend test, backend format

merge sidenavdropdown and sidenavitem
  src/client/src/assets/dropdown-large.svg
  src/client/src/assets/dropdown-small.svg
  src/client/src/assets/edit.svg
  src/client/src/assets/settings.svg
  src/client/src/assets/tool.svg
  src/client/src/components/SavedConfigs.tsx
  src/client/src/components/SideNavDropDown.tsx
  src/client/src/components/SideNavItem.tsx
  src/client/src/components/SideNavSubDropDown.tsx
  src/client/src/components/UserConfig.tsx
  src/client/src/css/SideNavItem.module.css
Due: frontend build, frontend lint, frontend format

change description
  api-spec/signout.yml
Due: none

Removed CommitScoreTests
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitScoreTests.java
Due: backend build, backend test, backend format

Removed Config package
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigService.java
Due: backend build, backend test, backend format

Added a space to fix format
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestScore.java
Due: backend build, backend test, backend format

Removed gitignore
  .gitignore
Due: none

use mui 5 (lab) date picker. create sidenavsubitem
  src/client/src/App.tsx
  src/client/src/components/SideNavSubItem.tsx
  src/client/src/components/UserConfig.tsx
  src/client/src/context/UserConfigContext/reducer.ts
  src/client/src/css/SideNavDropDown.module.css
  src/client/src/css/SideNavItem.module.css
  src/client/src/css/SideNavSubItem.module.css
Due: frontend build, frontend lint, frontend format

Fixed tests with Bro's help
  src/server/pom.xml
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/MergeRequestMock.java
Due: backend build, backend test, backend format

Fixed tests with Bro's help (real commit, last one was a jebait)
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
Due: backend build, backend test, backend format

added radioinput micro component and dispatched actions
  src/client/package-lock.json
  src/client/package.json
  src/client/src/components/UserConfig.tsx
  src/client/src/css/UserConfig.module.css
Due: frontend build, frontend lint, frontend format

Add check to not allow duplicate entries in the users database
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/authentication/AuthenticationController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/authentication/AuthenticationRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/authentication/AuthenticationService.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/authentication/AuthenticationServiceTest.java
Due: backend build, backend test, backend format

Light refactors
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitScore.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitScoreCalculator.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/diff/DiffScoreCalculator.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/diff/DiffScoreDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/diff/DiffStringParser.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitScoreTests.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/CommitMock.java
Due: backend build, backend test, backend format

Undo making the score calculator static
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitScoreCalculator.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitScoreTests.java
Due: backend build, backend test, backend format
