Repository Haibhailie/GitlabAnalyzer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend build, backend test, frontend lint, frontend format, backend format

.gitlab-ci.yml:

stages:
  - build
  - test
  - format
  # - deploy

variables:
  STAGING_BRANCH: "master"
  NODE_IMAGE: "node:14"
  MAVEN_IMAGE: "maven:3.6.3-openjdk-15"
  MAVEN_OPTS: "-Dhttps.protocols=TLSv1.2 -Dmaven.color=false -Dmaven.repo.local=.m2/repository -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=WARN -Dorg.slf4j.simpleLogger.showDateTime=true -Djava.awt.headless=true"
  MAVEN_CLI_OPTS: "--batch-mode --errors --fail-at-end --show-version -DinstallAtEnd=true -DdeployAtEnd=true"


frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - src/client/**/*
      when: always
    - if: '$CI_COMMIT_BRANCH == $STAGING_BRANCH'
      when: always
  before_script:
    - cd src/client
    - npm ci
  script:
    - CI=true npm run build

backend build:
  stage: test
  needs: []
  image: $MAVEN_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/server/**/*
      when: always
  script:
    - cd src/server 
    - mvn $MAVEN_CLI_OPTS compile

backend test:
  stage: test
  needs: []
  image: $MAVEN_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/server/**/*
      when: always
  before_script:
    - cd src/server 
  script:
    - mvn $MAVEN_CLI_OPTS test

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/client/**/*
      when: always
  before_script:
    - cd src/client
    - node -v
    - npm ci
  script:
    - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/client/**/*
      when: always
  before_script:
    - npm install prettier@^2.2.0 --global
  script:
    - prettier --check "src/client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $MAVEN_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - src/server/**/*
      when: always
  before_script:
    - cd src/server
  script:
    - mvn $MAVEN_CLI_OPTS checkstyle:check

Refactored based on latest change to authService and modified tests to work with gitLabApiWrapper instead
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitServiceTests.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectTests.java
Due: backend build, backend test, backend format

Minor deletions
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
Due: backend build, backend test, backend format

More minor changes (just spaces)
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mocks/models/MergeRequestMock.java
Due: backend build, backend test, backend format

Initial commit. Add commitServiceTests.java
  src/client/src/utils/constants.tsx
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitServiceTests.java
Due: frontend build, backend build, backend test, frontend lint, frontend format, backend format

start commit testing
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitServiceTests.java
Due: backend build, backend test, backend format

test getSingleCommit, it passes.
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitDto.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitServiceTests.java
Due: backend build, backend test, backend format

Add tests for all methods inside CommitService.java. All tests pass. 67% line coverage
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitServiceTests.java
Due: backend build, backend test, backend format

Removed duplicate function calls
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mocks/models/MergeRequestMock.java
Due: backend build, backend test, backend format

Add tests for all methods in CommitService.java. Add classes to create Mocks. All tests pass. 100% code coverage for CommitService.java.
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitServiceTests.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/CommitMock.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/CommitStatsMock.java
Due: backend build, backend test, backend format

Light refactoring
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitServiceTests.java
Due: backend build, backend test, backend format

fix expected null but return '[]', add getCommitsByEmail method to CommitService since we can not use iterator on test when it is null
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberService.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/member/MemberServiceTests.java
Due: backend build, backend test, backend format

use the same Enum Constants as gitlab4j avoid wrong models on test
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberUtils.java
Due: backend build, backend test, backend format

Light refactoring
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitServiceTests.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/CommitMock.java
Due: backend build, backend test, backend format

Refactor member tests
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/member/MemberServiceTests.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/MemberMock.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/MergeRequestMock.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectTests.java
Due: backend build, backend test, backend format

Update User and Project mocks
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/ProjectMock.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/UserMock.java
Due: backend build, backend test, backend format

include test files, remove variable distance check
  src/server/checkstyle.xml
  src/server/pom.xml
Due: backend build, backend test, backend format

refactor CommitServiceTests.java to use ProjectMock instead of Project
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitServiceTests.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/CommitMock.java
Due: backend build, backend test, backend format

seperate null tests
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/member/MemberServiceTests.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
Due: backend build, backend test, backend format

fix format
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/member/MemberServiceTests.java
Due: backend build, backend test, backend format

merge merge request branch
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
Due: backend build, backend test, backend format

delete constants.tsx
  src/client/src/utils/constants.tsx
Due: frontend build, frontend lint, frontend format

remove mergeRequestServiceTest
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectTests.java
Due: backend build, backend test, backend format

Fix css to make height auto-fill parent container
  src/client/src/components/ProjectSummary.tsx
  src/client/src/components/Stat.tsx
  src/client/src/components/StatSummary.tsx
  src/client/src/css/ProjectSummary.module.css
  src/client/src/css/Stat.module.css
  src/client/src/css/StatSummary.module.css
  src/client/src/css/index.css
Due: frontend build, frontend lint, frontend format

Remove test urlbase
  src/client/src/utils/constants.ts
Due: frontend build, frontend lint, frontend format

remove unused imports
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitServiceTests.java
Due: backend build, backend test, backend format

Modified package directory
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/MergeRequestMock.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/ProjectMock.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/ProjectStatisticsMock.java
Due: backend build, backend test, backend format

Extracted Dto generation functions from Test class to mock class
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/MergeRequestMock.java
Due: backend build, backend test, backend format

Removed gitlabApi argument from generateMergeRequestDiffDto function since it was unused
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/MergeRequestMock.java
Due: backend build, backend test, backend format

Removed redundant comments
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestDto.java
Due: backend build, backend test, backend format

Deleted constants.tsx
  src/client/src/utils/constants.tsx
Due: frontend build, frontend lint, frontend format

Add clipboard and copy functionality
  src/client/src/assets/clipboard.svg
  src/client/src/components/StatSummary.tsx
  src/client/src/css/ProjectSummary.module.css
  src/client/src/css/StatSummary.module.css
Due: frontend build, frontend lint, frontend format

Rename csv header and fix my git config username
  src/client/src/components/StatSummary.tsx
Due: frontend build, frontend lint, frontend format

Test git config
  src/client/src/components/StatSummary.tsx
Due: frontend build, frontend lint, frontend format

updated jsonFetcher to allow for empty responses.
  src/client/src/components/LoginFields.tsx
  src/client/src/pages/Login.tsx
  src/client/src/utils/constants.tsx
  src/client/src/utils/jsonFetcher.tsx
Due: frontend build, frontend lint, frontend format

pr prep
  src/client/src/utils/jsonFetcher.tsx
Due: frontend build, frontend lint, frontend format

Add initial user config context
  src/client/src/context/UserConfigContext.tsx
Due: frontend build, frontend lint, frontend format

Add test for getting all commits but list is empty. test passes
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitServiceTests.java
Due: backend build, backend test, backend format

Replace ternary operator with conditional rendering
  src/client/src/components/Stat.tsx
Due: frontend build, frontend lint, frontend format

Added comments and removed redundant code
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestServiceTest.java
  src/server/src/test/java/ca/sfu/orcus/gitlabanalyzer/models/MergeRequestMock.java
Due: backend build, backend test, backend format
