Repository Haibhailie/GitlabAnalyzer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend build, backend test, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd src/client
  - npm ci
  script:
  - CI=true npm run build

backend build:
  stage: test
  needs: []
  image: $MAVEN_IMAGE
  tags:
  - docker
  script:
  - cd src/server
  - mvn $MAVEN_CLI_OPTS compile

backend test:
  stage: test
  needs: []
  image: $MAVEN_IMAGE
  tags:
  - docker
  before_script:
  - cd src/server
  script:
  - mvn $MAVEN_CLI_OPTS test

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd src/client
  - node -v
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm install prettier@^2.2.0 --global
  script:
  - prettier --check "src/client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $MAVEN_IMAGE
  tags:
  - docker
  before_script:
  - cd src/server
  script:
  - mvn $MAVEN_CLI_OPTS checkstyle:check

Update api-specs for PUT config endpoint
  api-spec/config.yml
  api-spec/openapi.yml
Due: none

Add ConfigIdDto
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigIdDto.java
Due: backend build, backend test, backend format

Minor refactoring to have a single return instead of multiple ones
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigController.java
Due: backend build, backend test, backend format

Add importConfig logic to config service
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigService.java
Due: backend build, backend test, backend format

add webUrl to MemberDto, update api-doc
  api-spec/components/author.yml
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberDto.java
Due: backend build, backend test, backend format

Update api-specs for importConfig endpoint
  api-spec/components/config200.yml
  api-spec/components/configId.yml
  api-spec/config.yml
  api-spec/configImport.yml
  api-spec/openapi.yml
Due: none

Add updateCurrentConfig logic
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigService.java
Due: backend build, backend test, backend format

Throw NotFoundException if config not found
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigService.java
Due: backend build, backend test, backend format

Minor refactoring
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigService.java
Due: backend build, backend test, backend format

Create file structure and basic ui
  src/client/src/App.tsx
  src/client/src/components/Button.tsx
  src/client/src/components/MemberDropdown.tsx
  src/client/src/css/Button.module.css
  src/client/src/css/MemberDropdown.module.css
  src/client/src/css/MemberResolution.module.css
  src/client/src/css/Project.module.css
  src/client/src/pages/MemberResolution.tsx
  src/client/src/pages/Project.tsx
  src/client/src/themes/globalTheme.ts
  src/client/src/utils/constants.ts
Due: frontend build, frontend lint, frontend format

Add dropdown to table
  src/client/src/components/MemberDropdown.tsx
  src/client/src/css/MemberResolution.module.css
  src/client/src/pages/MemberResolution.tsx
Due: frontend build, frontend lint, frontend format

Removed unnecessary fields in FileDTO
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitScoreCalculator.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestScoreCalculator.java
Due: backend build, backend test, backend format

Fix database key name
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigRepository.java
Due: backend build, backend test, backend format

Added en enum to line and created a new FileDiffDto for each line and it's type to be specified post parsing
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileDiffDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/DiffScoreCalculator.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/DiffStringParser.java
Due: backend build, backend test, backend format

Added sum of commits score in MRDto
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitScoreCalculator.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestDto.java
Due: backend build, backend test, backend format

Unified the file based scorers into a single function that can be used by both commits and mrs
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitScoreCalculator.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestScoreCalculator.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/DiffScoreCalculator.java
Due: backend build, backend test, backend format

Minor checkstyle changes
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileDiffDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/DiffScoreCalculator.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/DiffStringParser.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/Scores.java
Due: backend build, backend test, backend format

Added LOCDto and ScoreDto for all the commits present in an MR in a mini lightweight class called MergeRequestCommitsDto
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestCommitsDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestDto.java
Due: backend build, backend test, backend format

Specified the type of score given to each line in a file (add, del, syntax etc.)
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileDiffDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/DiffScoreCalculator.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/DiffScoreDto.java
Due: backend build, backend test, backend format

Added an override equals for all new DTOs so testing pipeline works
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileDiffDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/DiffScoreDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/LOCDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/Scores.java
Due: backend build, backend test, backend format

Change home page with new analyze button with button animation and error handling, last analyzed column, and row click redirect
  src/client/src/assets/error-small.svg
  src/client/src/assets/reload.svg
  src/client/src/components/AnalyzeButton.tsx
  src/client/src/components/MemberTable.tsx
  src/client/src/css/AnalyzeButton.module.css
  src/client/src/css/Home.module.css
  src/client/src/pages/Home.tsx
Due: frontend build, frontend lint, frontend format

Remove localhost from api call
  src/client/src/pages/Home.tsx
Due: frontend build, frontend lint, frontend format

Merged master into branch
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestDto.java
Due: backend build, backend test, backend format

Refactor analyze state changes to reduce redundancy
  src/client/src/pages/Home.tsx
Due: frontend build, frontend lint, frontend format

Create Post endpoint for committers
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/committer/CommitterController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/committer/CommitterRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/committer/CommitterService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/committer/MockCommitterRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/project/MockProjectRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/project/ProjectRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/project/RealProjectRepository.java
Due: backend build, backend test, backend format

Removed unused imports
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/DiffScoreDto.java
Due: backend build, backend test, backend format

Fixed minor bug where line number specifiers weren't being recognized by diffParser
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/DiffScoreCalculator.java
Due: backend build, backend test, backend format

Changed isIgnore to use setter function setIgnore instead of manual declaration
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestDto.java
Due: backend build, backend test, backend format

Changed response returns to use SC_UNAUTHORIZED and SC_OK instead of error codes
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileController.java
Due: backend build, backend test, backend format

Checkstyle violation fix (I hate spaces)
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/DiffScoreCalculator.java
Due: backend build, backend test, backend format

Add save button
  src/client/src/css/MemberResolution.module.css
  src/client/src/pages/MemberResolution.tsx
Due: frontend build, frontend lint, frontend format

get orphaned Mrs init
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberService.java
Due: backend build, backend test, backend format

Retrieve data from committer endpoint
  src/client/src/pages/MemberResolution.tsx
Due: frontend build, frontend lint, frontend format

Populate dropdown with members
  src/client/src/components/MemberDropdown.tsx
  src/client/src/pages/MemberResolution.tsx
Due: frontend build, frontend lint, frontend format

Fix function name typo
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigService.java
Due: backend build, backend test, backend format

Minor refactors
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/DiffScoreCalculator.java
Due: backend build, backend test, backend format

Removed all this from commit constructor setters
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileService.java
Due: backend build, backend test, backend format

Removed an unnecessary function
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/commit/CommitScoreCalculator.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileDiffDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/DiffScoreCalculator.java
Due: backend build, backend test, backend format

Refactored addDiffs() to retrieveDiffsForFile() and incorporated file based diffs for it
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileDiffDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileService.java
Due: backend build, backend test, backend format

Basic Checkstyle violation
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileController.java
Due: backend build, backend test, backend format

Path conditions:
  frontend build: any of: src/client/**/*
  backend build: any of: src/server/**/*
  backend test: any of: src/server/**/*
  frontend lint: any of: src/client/**/*
  frontend format: any of: src/client/**/*
  backend format: any of: src/server/**/*
