Repository Haibhailie/GitlabAnalyzer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend build, backend build, backend test, frontend lint, frontend format, backend format

frontend build:
  stage: build
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd src/client
  - npm ci
  script:
  - CI=true npm run build

backend build:
  stage: test
  needs: []
  image: $MAVEN_IMAGE
  tags:
  - docker
  script:
  - cd src/server
  - mvn $MAVEN_CLI_OPTS compile

backend test:
  stage: test
  needs: []
  image: $MAVEN_IMAGE
  tags:
  - docker
  before_script:
  - cd src/server
  script:
  - mvn $MAVEN_CLI_OPTS test

frontend lint:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd src/client
  - node -v
  - npm ci
  script:
  - ./node_modules/.bin/eslint "src/**/*.{ts,tsx}"

frontend format:
  stage: format
  needs: []
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - npm install prettier@^2.2.0 --global
  script:
  - prettier --check "src/client/src/**/*.{ts,tsx}"

backend format:
  stage: format
  needs: []
  image: $MAVEN_IMAGE
  tags:
  - docker
  before_script:
  - cd src/server
  script:
  - mvn $MAVEN_CLI_OPTS checkstyle:check

Fix project.yml
  api-spec/project.yml
Due: none

Add config POST api-specs
  api-spec/components/config200.yml
  api-spec/components/fileScore.yml
  api-spec/components/generalScore.yml
  api-spec/config.yml
  api-spec/openapi.yml
Due: none

comment package init
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/comment/CommentController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/comment/CommentDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/comment/CommentRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/comment/CommentService.java
Due: backend build, backend test, backend format

Add config delete and get endpoints to API specs
  api-spec/components/config.yml
  api-spec/components/configId.yml
  api-spec/config.yml
  api-spec/configs.yml
  api-spec/openapi.yml
Due: none

Change ordering and fix typo
  api-spec/config.yml
  api-spec/openapi.yml
Due: none

add NoteDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/comment/CommentDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/note/NoteController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/note/NoteDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/note/NoteRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/note/NoteService.java
Due: backend build, backend test, backend format

add NoteRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/note/NoteRepository.java
Due: backend build, backend test, backend format

add NoteService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/note/NoteService.java
Due: backend build, backend test, backend format

Change date format
  src/client/package-lock.json
  src/client/package.json
  src/client/src/components/ActivityGraph.tsx
  src/client/src/utils/constants.ts
Due: frontend build, frontend lint, frontend format

Change graph to positive/negative bars
  src/client/src/components/ActivityGraph.tsx
  src/client/src/css/ActivityGraph.module.css
Due: frontend build, frontend lint, frontend format

Remove trailing backslash from DELETE endpoint
  api-spec/config.yml
  api-spec/openapi.yml
Due: none

Added scoreDto and stored all required values in said Dto (refactor imminent)
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestScoreCalculator.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/DiffScoreCalculator.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/DiffScoreDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/ScoreDto.java
Due: backend build, backend test, backend format

Broke down MR scores into individual files and calculating the scores from each file and transferring all the score values to frontend
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestScoreCalculator.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/ScoreDto.java
Due: backend build, backend test, backend format

Changes scores to object and made an inline class for it
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestScoreCalculator.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/Diff/ScoreDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/utils/ScoreDto.java
Due: backend build, backend test, backend format

Add api specs for committer resolution endpoints
  api-spec/committers.yml
  api-spec/components/committers.yml
  api-spec/openapi.yml
Due: none

Create the CommitterDto for the backend
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/committer/CommitterDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/member/MemberDto.java
Due: backend build, backend test, backend format

Add a period to satisfy checkstyle
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/committer/CommitterDto.java
Due: backend build, backend test, backend format

Add skeleton of File package classes
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileService.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/mergeRequest/MergeRequestService.java
Due: backend build, backend test, backend format

Change score multipliers in configDto from integer to double
  api-spec/components/fileScore.yml
  api-spec/components/generalScore.yml
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigDto.java
Due: backend build, backend test, backend format

add getAllMRNotes and getAllIssuesNotes method
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/note/NoteController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/note/NoteService.java
Due: backend build, backend test, backend format

Add basic score change. but unsure if implemented properly as there is no database or file-wise scoring yet
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileService.java
Due: backend build, backend test, backend format

Fix bug with static classes
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileRepository.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileService.java
Due: backend build, backend test, backend format

refactoring getAllNotesDtosByMemberId
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/note/NoteDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/note/NoteService.java
Due: backend build, backend test, backend format

add NoteController
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/note/NoteController.java
Due: backend build, backend test, backend format

all empty notes list
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/note/NoteService.java
Due: backend build, backend test, backend format

Add y-axis label
  src/client/src/components/ActivityGraph.tsx
  src/client/src/components/ProjectSummary.tsx
  src/client/src/css/ActivityGraph.module.css
  src/client/src/css/Project.module.css
  src/client/src/css/ProjectSummary.module.css
Due: frontend build, frontend lint, frontend format

Change graph font
  src/client/src/components/ActivityGraph.tsx
  src/client/src/css/ActivityGraph.module.css
  src/client/src/css/Member.module.css
  src/client/src/css/MemberSummary.module.css
Due: frontend build, frontend lint, frontend format

fix gitlab4j issues - cant get Issues List By ProjectId directly
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/note/NoteService.java
Due: backend build, backend test, backend format

Replace HTTP status code values with Apache HttpStatus enum and add PUT config controller
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigController.java
Due: backend build, backend test, backend format

Add updateConfig logic to config repository class
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigRepository.java
Due: backend build, backend test, backend format

Update config service class to allow updating config
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/config/ConfigService.java
Due: backend build, backend test, backend format

Small naming changes
  api-spec/components/committers.yml
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/committer/CommitterDto.java
Due: backend build, backend test, backend format

quick fix
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/note/NoteController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/note/NoteDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/note/NoteService.java
Due: backend build, backend test, backend format

get issues by projectId
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/note/NoteService.java
Due: backend build, backend test, backend format

add webUrl, remove system notes
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/note/NoteDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/note/NoteService.java
Due: backend build, backend test, backend format

update memberNotes api-doc
  api-spec/memberNotes.yml
Due: none

small naming changes
  api-spec/memberNotes.yml
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/note/NoteDto.java
Due: backend build, backend test, backend format

Made changes after conferring with Shanks
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileDto.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileService.java
Due: backend build, backend test, backend format

Add endpoints to ignore a file
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileController.java
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/file/FileService.java
Due: backend build, backend test, backend format

change public countWords function to private
  src/server/src/main/java/ca/sfu/orcus/gitlabanalyzer/note/NoteDto.java
Due: backend build, backend test, backend format

Path conditions:
  frontend build: any of: src/client/**/*
  backend build: any of: src/server/**/*
  backend test: any of: src/server/**/*
  frontend lint: any of: src/client/**/*
  frontend format: any of: src/client/**/*
  backend format: any of: src/server/**/*
